<footer class="mt-3"><div class="small text-center"><d>&copy;2022&nbsp;{{ metadata.title }}, All Right Reserved.</d></div><p class="col-12 p-1 text-center"><small>themes by <a href="http://axcora.my.id/pico/cuteblog/">cuteblog</a> built with <a href="https://11ty.dev">11ty</a> powered by <a href="https://website.axcora.com">axcora</a></small></p></footer></body></html> 
  </body>
</html>